
  <%= image_tag(article.user.avatar_s, class: "block rounded-full avatar", alt: article.user.first_name)%>
    <p class="ml-2 text-sm">
        <%= article.user.first_name%><br>
          <%= article.likes%>

    </p>
