<a class="no-underline text-grey-darker hover:text-red-dark"
href="#" onclick="fave(<%=article.id%>);return false;">
    <span class="hidden">Like</span>
    <i id="heart-<%=article.id%>"  class="<%=@heart%> fa fa-heart"></i>
</a>
