<h1 class="text-3xl font-bold underline">Hello world!</h1>

<p>
to run tests :  bundle exec rspec
to start server with front end compilation foreman start -f Procfile.dev
to start the plain old rails server rails s
to run the data importer rake
to see all rails --tasks


https://guides.rubyonrails.org/getting_started.html


</p>
